*{
    margin: 0;
    padding: 0;
}
#animais{
    margin: 1rem;
    width: 400px;
    height: 20rem;
    background-color: black;
}
img{ width: 300px;
     height: 150px;}
#nome{
    color: aliceblue;
    text-align: center;
}
#preco{
    color: aliceblue;
    text-align: center;
}
#identid{
    color: aliceblue;
    text-align: center;
}